/* Dashboard */
body {
  font-size: 13px !important;
}
.das-nav {
  background-color: #eee;
  height: 100vh;
  margin-top: 0;
  padding-top: 5px;
  position: fixed;
  left: 0;
  width: 16%;
}

.das-item {
  color: #000;
  margin-bottom: 5px;
  padding: 10px;
  display: block;
  transition: 0.2s;
  /* border-left: 5px solid rgba(0, 0, 0, 0); */
}

.das-item:hover {
  color: #000;
  background-color: #b1b1b1;
  /* border-left: 5px solid #000; */
  color: #fff;
}

.dashbord-content {
  min-height: 90vh !important;
}
